<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Меню</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cristiano">Cristiano Ronaldo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messi">Messi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/benzema">Benzema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/neymar">Neymar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robert">Robert</a>
                </li>
            </ul>
        </div>
    </nav>
    <%- body %>
</body>

</html>